<div class="account-form">
    <h1><%= title %></h1>
    <% if (errors) { %>
        <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
        </ul>
    <% } %>

    <form id="loginForm" action="/account/login" method="post" class="login-form">
        <div class="form-group">
            <label for="email">Email Address</label>
            <input 
                type="email"
                name="account_email"
                id="account_email"
                required
                >
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input 
                type="password"
                name="account_password"
                id="account_password"
                required
                >
                <div class="show-password-container">
                    <input type="checkbox" id="showPassword">
                    <label for="showPassword">Show Password</label>
                </div>
        </div>

        <div class="form-actions">
            <button type="submit">Log In</button>
        </div>
    </form>

    <div class="registration-request">
        <a href="/account/registration">No Account? Sign-up</a>
    </div>
</div>
<script>
  const showPasswordCheckbox = document.getElementById('showPassword')
  const passwordInput = document.getElementById('account_password')

  showPasswordCheckbox.addEventListener('change', () => {
    if (showPasswordCheckbox.checked) {
      passwordInput.type = 'text'
    } else {
      passwordInput.type = 'password'
    }
  })
</script>